[2015-10-22 16:22] skaman82 opened #1 "News and discussion"
Managed to rework some basic layout today. Not looking pretty yet, just basic work. Placed dataflash status bar in the header but can’t figure out how to trigger a readout on connect in serial_backend.js. Some help?

![bildschirmfoto 2015-10-22 um 18 11 56](https://cloud.githubusercontent.com/assets/11768024/10671224/c94d7e3a-78e9-11e5-8f70-19cbe2a5a9b3.png)

[2015-10-22 16:33] skaman82 commented on #1
The new bits and pieces and the actual design work are located here https://github.com/skaman82/CF_GUI

[2015-10-23 05:09] skaman82 commented on #1
Getting there....
![bildschirmfoto 2015-10-23 um 07 07 39](https://cloud.githubusercontent.com/assets/11768024/10685040/00e07cc4-7955-11e5-86ee-35d99f9432f9.png)

[2015-10-23 10:47] ProDrone commented on #1
Maybe there is no data in your DataFlash to present?

I checked out your branch, made some Blackbox recording to the internal flash and then get this with your code:

![screenhunter_62](https://cloud.githubusercontent.com/assets/7206988/10690660/86416cb0-7983-11e5-82c8-3be7dd7b5a9d.jpg)

Good to see you started exploring the code!

Btw. It is preferred to make your changes against the development

[2015-10-23 11:04] skaman82 commented on #1
@ProDrone  thanks, but I don't meant the Dataflash tab. That is working fine. I placed a Dataflash status bar in the upper right corner in the header. It would be nice to see the state at any time.

The problem: this small status bar is not showing anything until I actually click on the Dataflash tab. This event should be happening on connect (in serial_backend.js are already some events placed wh

[2015-10-23 11:35] skaman82 commented on #1
@ProDrone I guess that I run into the same problem when I place the profile switch in the header area next ...

[2015-10-23 14:13] ProDrone commented on #1
It seems that you are missing code to update the small Dataflash status bar. It works in the dataflash tab because you used the same id's and class names for the small Dataflash status bar, so they both get updated (with the same code) when the Dataflash tab is opened.

As an example you may look at how the sensors are updated in the header.

GUI programming is still not my comfort zone :smile:

[2015-10-24 05:27] skaman82 commented on #1
New log functionality
![bildschirmfoto 2015-10-24 um 07 26 13](https://cloud.githubusercontent.com/assets/11768024/10709060/a5a7f108-7a20-11e5-9257-8a2141375e29.png)
![bildschirmfoto 2015-10-24 um 07 26 22](https://cloud.githubusercontent.com/assets/11768024/10709061/a8c87eac-7a20-11e5-831a-f566428b508e.png)

[2015-10-24 09:05] ProDrone commented on #1
There sure must be a way to solve this. Is something like that not done in the Dataflash tab? Where the amount of free space is made visible. I prefer an always visible log,

It would be great if the tab selector on the left slides to the left and become very small, until you hover over it. Then you keep the whole area of the page for the relevant elements. It is so easy to come up with thoughts o

[2015-10-29 00:09] skaman82 commented on #1
I did manage to fix the bug that prevented scrolling to the the very bottom of the page while log was open. Your idea is great but, as you say, not so easy to do :)

I think for most users the Log area is wasted space. Its like the very first FTP client apps. The had always a log area at the top. But no popular FTP client has this area enabled by default these days. Simply because for most people

[2015-10-29 07:19] enly1 commented on #1
Great work guys !

The topic of the log area - i'm not a fan of the slow animated open area and the cosmetic scroll indicator - as you say it will probably be a curious new user or someone that needs the log data specifically - in these cases, a quick open access sounds a good idea - or at least optional animations.

Also, just as an FYI I did notice that the close operation isn't qiute right yet

[2015-10-29 16:14] skaman82 commented on #1
Can't figure out how get the save button bar to stick to the bottom of the #container element. Normally this could be done simply in CSS with: position:fixed; bottom:0px; but in this special case this doesn't work. The idea is to keep the save button always visible and in the same place independent from the length of the content. Would appreciate some help on this.

<img width="970" alt="bildschir

[2015-10-29 16:45] skaman82 opened #2 "Show dataflash status in the header"
TODO
<img width="222" alt="bildschirmfoto 2015-10-29 um 17 48 17" src="https://cloud.githubusercontent.com/assets/11768024/10825432/463e0236-7e65-11e5-9ba5-1539300a80f2.png">

[2015-10-29 16:46] skaman82 opened #3 "Show profile selector in the header"
TODO
<img width="222" alt="bildschirmfoto 2015-10-29 um 17 48 17" src="https://cloud.githubusercontent.com/assets/11768024/10825442/503c0616-7e65-11e5-9c1e-7a1de5b419eb.png">

[2015-10-29 16:46] skaman82 opened #4 "Add tooltip functionality"
TO DO
<img width="224" alt="bildschirmfoto 2015-10-29 um 18 47 56" src="https://cloud.githubusercontent.com/assets/11768024/10827134/9782e816-7e6d-11e5-9bf3-f04ae4f6337c.png">

[2015-10-29 16:50] skaman82 opened #5 "Add nicer radio button styling"
TO DO
<img width="539" alt="bildschirmfoto 2015-10-29 um 17 50 07" src="https://cloud.githubusercontent.com/assets/11768024/10825492/81c0af66-7e65-11e5-8143-1d79589b932c.png">

[2015-10-29 16:52] skaman82 opened #6 "Rework Documentation button: the content and link should be generated dynamically"
<img width="194" alt="bildschirmfoto 2015-10-29 um 17 52 52" src="https://cloud.githubusercontent.com/assets/11768024/10825572/e298c562-7e65-11e5-96dc-5c6026a3bfd1.png">

[2015-10-29 16:56] skaman82 opened #7 "Make save buttons stick to the bottom of the #content element"
The idea is to keep the save button always visible and in the same place independent from the length of the content (scrolling). Tried to get this done with my limited skills for the last four hours - no success.  Would appreciate some help on this.
<img width="970" alt="bildschirmfoto 2015-10-29 um 17 10 37" src="https://cloud.githubusercontent.com/assets/11768024/10825656/51631fa6-7e66-11e5-8b46

[2015-10-29 16:57] skaman82 opened #8 "Place title in all tabs, rework note and button styling"

[2015-10-29 16:58] skaman82 opened #9 "Rework welcome tab (new layout must be done)"

[2015-10-29 16:59] skaman82 opened #10 "Rework documentation tab"

[2015-10-29 16:59] skaman82 opened #11 "Rework firmware-flasher tab"

[2015-10-29 17:00] skaman82 opened #12 "Rework configuration tab"
![config full](https://cloud.githubusercontent.com/assets/11768024/10825796/e4c5b2d6-7e66-11e5-89e3-35b1c4d17cdc.jpg)

[2015-10-29 17:02] skaman82 opened #13 "Small issue with new log functionality (fix welcome)"
"I did notice that the close operation isn't qiute right yet - when you open it, you get the log contents, if you scroll up to read something then close it, you don't get rescrolled to the last line - so see the first line instead. which given the ability to see only one line, seems like it should be the last notification."

[2015-10-29 17:11] skaman82 opened #14 "Generate a googlemap in GPS tab from GPS coordinates"
<img width="165" alt="bildschirmfoto 2015-10-29 um 18 11 22" src="https://cloud.githubusercontent.com/assets/11768024/10826126/7ec2201c-7e68-11e5-8c18-4c1298baa9d0.png">
Thoughts:
1. Should check internet connection (if not present > info "no connection")
2. Should check GPS FIX state repeatedly (if not present > info "waiting for GPS Fix")
3. If fix is found > generate a map and show location (up

[2015-10-29 17:21] skaman82 commented on #6
in serial_backend.js there is a function for the old button in the header but I don't know how to make this work with my buttons in each tab.

var documentationButton = $('#button-documentation');
documentationButton.html("Documentation for "+CONFIG.flightControllerVersion);
documentationButton.attr("href","https://github.com/cleanflight/cleanflight/tree/v{0}/docs".format(CONFIG.flightControllerVe

[2015-10-29 17:37] skaman82 opened #15 "Add a theme switch in Options menu"
This could allow to change between dark an light syling of the header and navigation area. I've experimented a bit with this but I'm not getting further. Hove no Idea how to:

• store default configuration
• set the checkbox states depending on stored configuration when the options window is loaded
• store new configuration (if a unchecked checkbox is selected) an change the css file accordingly

[2015-10-29 19:48] skaman82 commented on #1
@VirtualEnder @thenickdude
Hi, noticed your work on configurator. Maybe you can have a look here and help out with some little things (in the issue list). Need some help with JS. Thanks! @VirtualEnder like your PID rework!

This is how the current state looks like:
![bildschirmfoto 2015-10-29 um 20 46 44](https://cloud.githubusercontent.com/assets/11768024/10830112/37eb9bda-7e7e-11e5-8738-649430e1

[2015-10-29 19:58] VirtualEnder commented on #1
Looks fantastic man!  Great work!  Since winter is setting in and we'll have more code time I might take a whack at fine tuning some of the CSS and JS stuff for you.  LOVE the design though! Huge improvement.

Also agree with the speed of the animations.  I typically try to make my animations in the 200-300ms range, just from a usability standpoint.  Should be pretty easy to change the speed down.

[2015-10-29 20:03] skaman82 commented on #1
@VirtualEnder Thanks! Looking forward to your expertise and help.

[2015-10-30 15:33] wanderzell commented on #1
Hi, I like what you have done so far. Good to see you have already had progress in implementing the new styles. I can help you on the CSS / JS. Just my suggestion would be to start easy. Move in babysteps and implement new looks on top of existing functionality, avoid adding new, yet in the beginning. That way we could also get the skin changes merged into main cleanflight-configurator more quickl

[2015-10-30 16:10] skaman82 commented on #12
Ready : -) A little different than in the layout, but I didn't want to change the names for each button. Leaving it as it is for now. Tooltips will be done also later.

![bildschirmfoto 2015-10-30 um 17 07 04](https://cloud.githubusercontent.com/assets/11768024/10851019/0a63f620-7f29-11e5-86c1-ea154859e231.png)

[2015-10-30 16:12] #12 closed

[2015-10-30 16:34] skaman82 commented on #1
@wanderzell Thank you for your support. I personally have issues with things that are half done but I think you might be right with going this in small steps. Merging this at once might be simply to big. So far I didn't touched JS much but changed the CSS and HTML files on a large scale to get this done. The basic UI is almost ready except for two things marked red on my issue list. Getting them d

[2015-10-30 17:00] skaman82 opened #16 "Basic rework of the CLI Tab"
Done! Nothing special here. Removed the logo (it is now big enough in the header, so here is no point to use it twice). Added soft tv-lines at the background of the cli to make it feel more vintage… I guess nobody will actually notice that :)

![bildschirmfoto 2015-10-30 um 17 57 02](https://cloud.githubusercontent.com/assets/11768024/10852171/a54ca88e-7f2f-11e5-9b0a-b15c4d109990.png)

[2015-10-30 17:00] #16 closed

[2015-10-30 20:09] skaman82 opened #17 "Basic rework of the Ports Tab"
some cleanup, nothing special.
![bildschirmfoto 2015-10-30 um 21 08 51](https://cloud.githubusercontent.com/assets/11768024/10856814/71ad3a50-7f4a-11e5-8da0-259276fa0eb4.png)

[2015-10-30 20:09] #17 closed

[2015-10-30 20:30] skaman82 opened #18 "Integrate a modal window for dialogs or other information"

[2015-10-31 17:09] skaman82 commented on #1
@ProDrone Quick question: Dominic asked me to rebase my pull request against the current developer branch. How can I do that? Can not find any settings on that on the website. Should I create a new pull request? Working with github for the first time. Here the pull request: https://github.com/cleanflight/cleanflight-configurator/pull/263

[2015-11-01 14:58] skaman82 commented on #1
@wanderzell Could you please have a quick look at this element in the config tab if you have time? Somehow i can't klick the switch directly. It only reacts when I click between the switch and the text. All other toggle switches are working as expected. Could not solve this yet.

[2015-11-01 14:59] skaman82 commented on #1
@wanderzell Forgot to add the image of the area.
<img width="573" alt="bildschirmfoto 2015-11-01 um 15 54 43" src="https://cloud.githubusercontent.com/assets/11768024/10869479/862222bc-80b1-11e5-8060-35b0e3192048.png">

[2015-11-01 15:14] VirtualEnder commented on #1
@skaman82 , check the z-index.  Looks like something is overlapping the button.

[2015-11-01 16:08] skaman82 commented on #1
@VirtualEnder Yes I think you are right but can't figure out what is overlapping.

Von meinem iPhone gesendet

[2015-11-01 16:12] VirtualEnder commented on #1
Right click and click "Inspect element" It'll show you which one is overlapping.

[2015-11-01 16:16] skaman82 commented on #1
I’ve done that. It shows me the same switchery <span> element as it does on other toggle switches.
Can not see anything strange.

[2015-11-01 16:18] wanderzell commented on #1
I can take a look on this later today.
On Nov 1, 2015 6:16 PM, "Albert Kravcov" <notifications@github.com> wrote:

[2015-11-01 18:05] VirtualEnder commented on #1
Ok, here's the fixed code:

[code]

Also in CSS, set the z-index of `.switchery` to be all the way front.

[2015-11-01 18:24] skaman82 commented on #1
@VirtualEnder Thank you for looking in to that! Are you sure this fixes the right problem? This apperas to be a different switch. I am talking about this one:
<img width="435" alt="bildschirmfoto 2015-11-01 um 19 22 47" src="https://cloud.githubusercontent.com/assets/11768024/10870571/242daea6-80ce-11e5-992d-9ce16f9f4e6b.png">

[2015-11-01 19:52] VirtualEnder commented on #1
Hah, you're right! But that switch had problems too :D

[code]

THere's the fix for that one.

[2015-11-01 21:14] skaman82 commented on #1
@VirtualEnder Great! Thank you!

[2015-11-01 22:42] skaman82 opened #20 "Save the state of the log window (open/closed)"
It would be great if somebody can add a script that remembers the log window state (opened/cosed).

[2015-11-03 08:26] wanderzell commented on #7
You can assign it to me.

[2015-11-03 18:24] skaman82 commented on #7
@wanderzell  Great! Please let me know when you figure this out.

[2015-11-03 20:58] skaman82 commented on #6
fixed

[2015-11-03 20:58] #6 closed

[2015-11-05 15:40] skaman82 commented on #4
Tooltips are ready. Changed the design a bit.

<img width="594" alt="bildschirmfoto 2015-11-05 um 14 10 42" src="https://cloud.githubusercontent.com/assets/11768024/10972993/f0812e00-83db-11e5-838e-5629212a5c44.png">

[2015-11-05 15:40] #4 closed

[2015-11-05 15:42] skaman82 commented on #18
can bei done now with the integrated jBox tooltip

[2015-11-05 15:42] #18 closed

[2015-11-05 15:42] skaman82 commented on #10
just basic styling for now

[2015-11-05 15:42] #10 closed

[2015-11-05 15:43] #8 closed

[2015-11-05 15:44] skaman82 opened #22 "Rework: Receiver Tab"
To do

[2015-11-05 15:45] skaman82 opened #23 "Rework: Motors Tab"
To do

[2015-11-05 15:45] skaman82 opened #24 "Rework: Servos Tab"
To do

[2015-11-05 15:52] skaman82 commented on #1
Some more Work done:

![bildschirmfoto 2015-11-05 um 16 49 57](https://cloud.githubusercontent.com/assets/11768024/10973356/63c42326-83dd-11e5-8616-7052a7981d9b.png)

![bildschirmfoto 2015-11-05 um 16 49 52](https://cloud.githubusercontent.com/assets/11768024/10973361/6cae9980-83dd-11e5-822a-fa78738258c4.png)

![bildschirmfoto 2015-11-05 um 16 49 27](https://cloud.githubusercontent.com/assets/1176

[2015-11-05 18:09] wanderzell commented on #7
Please look into PR #25
There are styles for sticky toolbar as well as for one that anchors into bottom edge, but is not always visible - behaviour can be set through .toolbar_fixed_bottom and .toolbar_scroll_bottom classes on the tab container elements.
Also did some clean-up on the tab html files to remove the duplicate button styling, so all this is now in main.css. Some tabs required minor rew

[2015-11-05 19:59] skaman82 commented on #1
@VirtualEnder I just noticed that the name for the Sonar "PID" is missing in your version of the PID Tab. Is that supposed to be like that?

<img width="509" alt="bildschirmfoto 2015-11-05 um 20 56 49" src="https://cloud.githubusercontent.com/assets/11768024/10979993/082cadc6-8400-11e5-802c-d544a4826eff.png">

[2015-11-06 01:39] skaman82 commented on #7
thanks

[2015-11-06 01:39] #7 closed

[2015-11-07 05:23] skaman82 commented on #1
New landing page. Change log is now hidden.
![bildschirmfoto 2015-11-07 um 06 21 04](https://cloud.githubusercontent.com/assets/11768024/11013690/de1b7062-8517-11e5-8732-18ac02d98dd4.png)
![Uploading Bildschirmfoto 2015-11-07 um 06.21.07.png…]()

[2015-11-07 11:42] #9 closed

[2015-11-07 22:52] skaman82 commented on #11
Basic rework
![bildschirmfoto 2015-11-07 um 23 51 06](https://cloud.githubusercontent.com/assets/11768024/11017769/9157c7d8-85aa-11e5-9fd2-f11f2b8e4a53.png)

[2015-11-07 22:52] #11 closed

[2015-11-07 22:53] skaman82 commented on #9
![bildschirmfoto 2015-11-07 um 06 21 04](https://cloud.githubusercontent.com/assets/11768024/11017778/c5431656-85aa-11e5-9b64-0b795bf67d37.png)
![bildschirmfoto 2015-11-07 um 06 13 08](https://cloud.githubusercontent.com/assets/11768024/11017779/c56b103e-85aa-11e5-965f-19c529949379.png)

[2015-11-08 12:56] skaman82 commented on #24
Basic rework is done

![bildschirmfoto 2015-11-08 um 13 52 57](https://cloud.githubusercontent.com/assets/11768024/11020485/8735a844-8620-11e5-817e-2335b6343d2b.png)

[2015-11-08 12:56] #24 closed

[2015-11-08 15:54] skaman82 commented on #22
done
![bildschirmfoto 2015-11-08 um 16 43 57](https://cloud.githubusercontent.com/assets/11768024/11021149/5bf011ec-8639-11e5-873c-04840c85da4d.png)

[2015-11-08 15:54] #22 closed

[2015-11-08 20:33] skaman82 commented on #23
ready
![Uploading Bildschirmfoto 2015-11-08 um 21.28.10.png…]()

[2015-11-08 20:33] #23 closed

[2015-11-08 23:07] skaman82 commented on #1
@digitalentity I'm finished with the first phase of configurator GUI rework. Check this branch and see for yourself. I hope you like it. PR is ready to merge. Now I have more time again to test your NAV rewrite :)

[2015-11-08 23:15] digitalentity commented on #1
Cool, cool, cooooool! I can't say how cool this is. Finally we have a nicer looping and user-friendlier configurator!

[2015-11-08 23:36] digitalentity opened #26 "PID tab improper grouping"
Hi!

On the PID tab both ALT and VEL PIDs are related to Altutude hold and this PID should be visible if BARO or SONAR is present. There should be no separate Sonar group.

[2015-11-09 09:33] skaman82 commented on #26
fixed

[2015-11-09 09:33] #26 closed

[2015-11-09 09:36] digitalentity commented on #26
Wow, that was quick! Thanks!

[2015-11-09 09:50] marksev1 commented on #1
Great job on the UI design! Will it still be a Chrome app? Hopefully once this Chrome will be replaced since the Google guys constantly introduce bugs :D

[2015-11-09 10:00] skaman82 commented on #1
@marksev1 yes, this is still a chrome app. I just reworked the old app visually.

[2015-11-09 14:00] skaman82 opened #27 "Small rendering issue in landing tab"
Just noticed a rendering issue in the landing tab. This happens when the app window is small and the log is open. If you have to scroll to see the sponsors this happens:
<img width="1023" alt="bildschirmfoto 2015-11-09 um 14 57 58" src="https://cloud.githubusercontent.com/assets/11768024/11035378/667529ae-86f2-11e5-9543-94f8a99a78c9.png">
 @wanderzell do you have a clue why this happens?

[2015-11-09 14:20] wanderzell commented on #27
![screen shot 2015-11-09 at 16 16 12](https://cloud.githubusercontent.com/assets/4578152/11035817/64570bbe-86fd-11e5-8569-8c792e3b1233.png)

I have entire sponsors section missing when log is open. I can check this later today.

[2015-11-10 08:56] wanderzell commented on #1
Created PR #30 with the reworked styles for landing page. The work was primarily initiated to solve a rendering glitch but ended up being complete rewrite of styles. I also changed a look a bit - made it bit lighter, added bit air into change log. But the overall layout remained the same.

<img width="1106" alt="screen shot 2015-11-10 at 10 37 26" src="https://cloud.githubusercontent.com/assets/45

[2015-11-10 09:13] wanderzell commented on #27
@skaman82
* Regarding sponsors background, if you decide to colour this please test this carefully. Primary reason why I changed it white was that solved the rendering problem. I am sure the colour itself is not root cause of this and it could be applied differently but it seemed just easiest (and for me personally also the prettiest) solution to leave it white.
* Regarding the sponsors links not

[2015-11-10 09:27] skaman82 commented on #27
Regarding the colors: It is a matter of personal taste like it is always is with design. The changelog bar being white now, I think both areas should't be white. There has to be a optical separation between the sponsors section. IMO the green bar isn't enough.

[2015-11-10 12:16] skaman82 opened #33 "Tooltips content needs to be in messages.json"
As noted in IRC the tooltips content needs to be in messages.json. Another PR is needed to fix that.

[2015-11-10 12:17] skaman82 opened #34 "Edit motor order SVGs"
todo

[2015-11-10 12:33] skaman82 commented on #27
this is fixed now thanks to @wanderzell

[2015-11-10 12:33] #27 closed

[2015-11-11 03:24] Ozzy33 opened #35 "New Features"
Demo mode, be able to go thought the gui even though no FC is connected.

Add "Level P/I/D's" adjustments to in-flight adjustments.

Would be nice to have a one button backup and same for restore (all profiles, etc)

I noticed in the PID tab, I see all pid controllers, but since I and running betaflight, I should only see two. No big deal, betaflight is getting merged into CF.

Thanks for all the

[2015-11-11 11:02] skaman82 commented on #33
done in e429cf6

[2015-11-11 11:02] #33 closed

[2015-11-11 12:52] skaman82 commented on #35
regarding the backup functionality I did I mockup a while ago how this could look like, but I'm not able to realize this functionality myself.

![cf0_backup](https://cloud.githubusercontent.com/assets/11768024/11091516/64dd9e0c-887b-11e5-805b-4eebcd765d00.jpg)

[2015-11-11 12:53] wanderzell opened #37 "Sensors panel not showing up in header after connect for some boards"
Everything works ok as long as I test with my **Naze32 Acro rev5** - after connect the device/port selection is replaced with the sensors panel.

However, with **Naze32 Acro rev6** and **Sparky1.1** there are no sensors shown in the header, just device/port selections.

Is it some known issue, being fixed, or should I take a look at it?

[2015-11-11 12:55] skaman82 commented on #37
have only couple of naze32 boards here to test. Didn't heard of this issue before. I this bug also in current master?

[2015-11-11 13:02] wanderzell commented on #37
Haven't checked with master. I can do it.

[2015-11-11 13:19] skaman82 commented on #37
@wanderzell
Seems strange to me. I didn't change any code regarding hardware.

I also noticed that some other issues came up after the merge with development branch. Mybee you can look at this also.

• Dominic said that JS code for switchery buttons and tooltips had to go in the main.js file. This has some unwanted consequences. In some tabs like Ports and Configuration where the page rebuilds aft

[2015-11-11 16:00] wanderzell commented on #37
Okay. I will take a look.

[2015-11-11 21:33] #34 closed

[2015-11-11 22:44] skaman82 commented on #37
@wanderzell you can leave the first mentioned bug in the message above alone, @hydra fixed this by himself. Sadly he fixed also some other things we were working on without giving us a heads up. That results in some waisted hours of our quality time and duplicate work :( @hydra: This should be coordinated better in the future, don't you think?

[2015-11-11 23:03] skaman82 commented on #37
@hydra Ohh, just saw you din't fix as many things as I thought. Mainly just the toggle buttons and JS problem in the tabs. So not much wasted time at all :) The toggle buttons in the ports tab are to big in your fix. There should be medium sized buttons (see my PR for that)

[2015-11-11 23:05] wanderzell commented on #37
Thanks :) Just finished fixing some of mentioned things: https://github.com/wanderzell/cleanflight-configurator/commit/4b732ae87ef7aa30ed6e49b59eb8f4f1b38e4447

[2015-11-11 23:16] skaman82 commented on #37
I'm sorry for that :(

[2015-11-12 09:00] skaman82 commented on #37
thanks for fixing this!

[2015-11-12 09:00] #37 closed

[2015-11-12 09:01] skaman82 commented on #5
Don't think this is worth is for four radio buttons … Closing this for now

[2015-11-12 09:01] #5 closed

[2015-11-12 09:03] wanderzell commented on #37
@skaman82 @hydra would it be better for me to work and do PR directly against cleanflight/cleanflight-configurator repository rather than skaman82/cleanflight-configurator? what is current status of main repository, do you have the GUI-rework already merged, or is it still work in progress?

[2015-11-12 09:09] skaman82 commented on #37
@wanderzell The first stage is already merged with master and the new version got released yesterday. I'm waiting for the merge of our small bugfixes into dev branch. If you want to debug the current code it would be better if you work direct against main dev branch.

I want to add new features to my GUI rework like profile switch and dataflash bar in the header. For that I might need some help wi

[2015-11-16 10:40] skaman82 commented on #14
Starting to work on this. Just added a connection test in the gps tab to check if the device is online to load a map.

[2015-11-16 10:42] skaman82 commented on #2
placed already in the header, but JS code is not there yet

[2015-11-16 10:44] skaman82 commented on #3
placed already in the header, but JS code is not working as it should. The profile switching is working but it should reload the current tab after switching. Can't figure that one out yet.

[2015-11-16 12:04] skaman82 commented on #1
Started to work on new stuff (new_stuff branch) and quickly run into some problems with my JS skills. Placed the dataflash  bar and profile switch in the header and done some groundwork.

Here the problems:
• Somehow the dataflash and profile status getting updated only on the SECOND connection attempt.
• Dataflash should show the div .noflash and hide div .dataflash-contents when dataflash is not

[2015-11-16 13:12] marksev1 commented on #1
Skaman whats the status regarding 1024*600 support?

[2015-11-16 13:14] skaman82 commented on #1
@marksev1 check the branch GUI_optimization2

[2015-11-16 13:56] skaman82 commented on #1
@marksev1 just modified some stuff, should work even better now. Feedback is welcome!

[2015-11-16 13:59] marksev1 commented on #1
Cool I'll try and let you know! :)

[2015-11-16 14:14] marksev1 commented on #1
Skaman it still seems a bit too big for my micro-netbook, see here: http://imgur.com/a/cBiFg

Probably because panel is taking some space. I'm on linux btw.

[2015-11-16 14:20] skaman82 commented on #1
@marksev1 you actually got 550px of screen space (600 - panel - app-panel at the top. Just changed the min-with to 550px im my branch.

[2015-11-16 14:21] wanderzell commented on #1
@marksev1 @skaman82 I guess part of the problem is setting somewhere that does not allow the app window size be smaller than certain amount of pixels. So your OS shows the bottom menubar over the app window hence making the toolbar unusable. I would remove this minimum window height constraint, then make the left menu show only relevant "tabs" (eg. ones for enabled features only) and it will work.

[2015-11-16 14:26] skaman82 commented on #1
@wanderzell this is a very good idea. I thought in the future the app can be resized even to run on a smartphone (somebody got this to work already btw). Then only a handful of important tabs will be displayed.

Could you please look at my comment regarding some bugs from tho hours ago? Maybe you also have an idea how to solve them :)

[2015-11-16 14:31] marksev1 commented on #1
Great now I can push the Save button, thanks, http://imgur.com/pNn3LrV

[2015-11-16 14:37] VirtualEnder commented on #1
@skaman82 I'll take a look at the JS if I can today.

Have you considered using media queries to scale things down for smaller screens?  You should be able to significantly re-arrange stuff to make it fit without compromising the design of the larger screens.

[2015-11-16 14:39] skaman82 commented on #1
@VirtualEnder I am already using media queries for some things (eg. for minimizing the navigation if the window is small) This could be done more extensively in the future.

[2015-11-18 22:37] NightHawk32 opened #39 "Sensor Orientation selector"
Selecting the flight controller orientation via Cli is qite a bit confusing sometimes. This could be a lot easier with a nice dropdown menu and a little image showing the chosen direction. I can do the firmware things and the JS but it would be nice if someone did the graphics and a layout how to visualize it best.

[2015-11-18 22:39] skaman82 commented on #39
I can do the graphics and the CSS stuff :)

[2015-11-18 22:45] skaman82 commented on #39
You don't have to do it in the CLI actually. The is a section for that in the Config tab. But it could be done nicer with supporting images.
<img width="501" alt="bildschirmfoto 2015-11-18 um 23 45 18" src="https://cloud.githubusercontent.com/assets/11768024/11256825/738b3b16-8e4e-11e5-9a08-8b556d221123.png">

[2015-11-18 22:53] NightHawk32 commented on #39
Ah yes thanks, I have to admit that I have never tried that. I was thinking about the align gyro and align ACC features of the Cli. So I will try to figure out the difference between these two options.
But although we could predefine some orientations.

[2015-11-18 22:56] skaman82 commented on #39
Align mag should be also there

[2015-11-19 10:43] skaman82 commented on #3
@NightHawk32 maybe you could help solve this? I guess just view lines of code are missing or are wrong.

<img width="444" alt="bildschirmfoto 2015-11-16 um 13 06 30" src="https://cloud.githubusercontent.com/assets/11768024/11181505/e181dfdc-8c62-11e5-8926-b440cf0366a1.png">

Placed the dataflash  bar and profile switch in the header. The groundwork is already done for this (see new_stuff branch).

[2015-11-19 12:06] NightHawk32 commented on #3
I will have a look at it this evening. I'm currently at work.

[2015-11-19 12:45] skaman82 commented on #35
@wanderzell Idea for notifications (jBox.js is already integrated)
http://stephanwagner.me/jBox

<img width="872" alt="bildschirmfoto 2015-11-19 um 13 42 57" src="https://cloud.githubusercontent.com/assets/11768024/11271026/b35278a2-8ec3-11e5-8640-8406b4d52def.png">

[2015-11-19 13:15] skaman82 commented on #14
<img width="476" alt="bildschirmfoto 2015-11-19 um 14 14 36" src="https://cloud.githubusercontent.com/assets/11768024/11271683/f041d4fc-8ec7-11e5-8a85-32a752c05983.png">

Placed a map in the GPS tab (I get this to work only in a sandboxed iframe). This don't look nice at this state. I will style this after the function is ready. There will be external zoom controls also like in the screenshot at t

[2015-11-19 14:38] skaman82 opened #40 "Add "Level P/I/D's" adjustments to in-flight adjustments"

[2015-11-19 14:40] skaman82 commented on #39
This is how this could look like:
<img width="435" alt="bildschirmfoto 2015-11-19 um 15 40 07" src="https://cloud.githubusercontent.com/assets/11768024/11273498/e4aca1b0-8ed3-11e5-8f1b-73d25b35d59b.png">

[2015-11-19 20:52] NightHawk32 commented on #20
@skaman82 Did this, the problem is that I already have a fork of the configurator in my own repo. So this could result in some chaos. What do you prefer? Should I commit it to the ConfiguratorReworkTeam?

[2015-11-19 21:00] skaman82 commented on #20
Wow! Thanks! You can commit this to my new_stuff branch or make a direct PR to hydras origin developer branch. I am still sorting out if the ReworkTeam is actually a good idea :)

[2015-11-19 21:17] NightHawk32 commented on #20
Just tried that, but I have no write access to your repo. What are your concerns about the ReworkTeam?

[2015-11-19 21:20] skaman82 commented on #20
Then give me a PR to my new_suff branch. My concerns are not about the team itself. They are about working on multiple branches actually :) I try to find a way to coordinate the work efficiently and make it transparent who is working on what to eliminate duplicate work. If you have a idea a I am open for suggestions.

[2015-11-19 22:06] NightHawk32 commented on #20
So I have no other way than deleting my fork of the configurator, since github does not allow to fork multiple forks of a repo. Sometimes this is just annoying :).
I think the way you use the issue tracke is pretty good, so everyone knows about the open tasks and the details. If you collect all the changes in your repo you have the overview over all the changes. So I would just continue the way it

[2015-11-19 22:25] skaman82 commented on #20
This is merged now. Thanks @NightHawk32

[2015-11-19 22:26] #20 closed

[2015-11-20 12:14] skaman82 opened #42 "Better profile workflow: add a "save to all profiles" button"
I've read this at least dozen times on different forums that users would like a changes save procedure on tabs which are profile dependent. That means there have to be two save buttons: "save to current profile" and "save to all profiles". It is a real pain in the butt to configure basic flight modes or the buzzer three times for each profile for example. I wonder why nobody integrated this yet.

[2015-11-20 12:21] skaman82 opened #43 "REAL backup functionality"
I know, this is a hard one.… But it would be really great if we could accomplish this. There is currently no real backup functionality in cleanflight. To backup everything the user has to make a backup and do several CLI dumps for each profile. I think this pretty bad. Baseflight got this done already and I wish we could improve this functionality in CF too. Here a concept how it could look like.

[2015-11-20 12:38] skaman82 commented on #15
This is blocked for now until @wanderzell has his CSS adjustments merged

[2015-11-20 12:44] skaman82 opened #44 "3D Model looks lo-res on retina screens (after GUI redesign)"

[2015-11-20 12:47] skaman82 commented on #44
fixed that in here https://github.com/skaman82/cleanflight-configurator/commit/0482e6aed8ec97d769e81a4e5f97eec2290e5c1a

[2015-11-20 12:47] #44 closed

[2015-11-20 12:50] skaman82 opened #45 "New Failsafe Tab"

[2015-11-20 12:50] skaman82 commented on #45
Working with @ProDrone on concepts for this right now

[2015-11-21 15:21] skaman82 commented on #45
@ProDrone I made a template FailsafeTab for you to play with. Just check out my FailsafeTab branch.
Note1: Placed all text right in HTML in this stage. I can lace it in the language file afterwards.
Note2: I just copied the configuration.js file for the new template. You have to remove the unused functions.

![bildschirmfoto 2015-11-21 um 16 20 48](https://cloud.githubusercontent.com/assets/117680

[2015-11-21 16:29] skaman82 opened #46 "Better styling for the documentation tab"
Done this. But this should be filled with more content.

![bildschirmfoto 2015-11-21 um 17 29 28](https://cloud.githubusercontent.com/assets/11768024/11319392/707a65ea-9075-11e5-9432-4028ee205b0e.png)

[2015-11-21 16:29] #46 closed

[2015-11-22 21:13] NightHawk32 commented on #3
@skaman82 please have a look at #47 this should be done now.

[2015-11-22 21:23] skaman82 commented on #3
@NightHawk32 Thanks a lot! closing this!

[2015-11-22 21:23] #3 closed

[2015-11-23 10:13] skaman82 commented on #45
@ProDrone can you work with this?

[2015-11-23 10:29] ProDrone commented on #45
@skaman82
Yes, sure, it looks good to me!

It will take me some time to connect the code. First i need to make changes to cleanflight code (changing the failsafe logic somewhat and add MSP messages to convey the info). Then i move out of my comfort zone and will add as much JS code as i can manage.

Also busy times with the day job :sweat_smile:

[2015-11-25 02:37] skaman82 commented on #2
Thanks to @NightHawk32 we can close this

[2015-11-25 02:37] #2 closed

[2015-11-25 13:18] skaman82 commented on #14
@NightHawk32 Can you please help me with this next? I prepared all the html/css stuff. This is the last main thing for the next PR.

The LAT LOG coordinates are already there in the GPS Tab:
<img width="260" alt="bildschirmfoto 2015-11-25 um 14 15 06" src="https://cloud.githubusercontent.com/assets/11768024/11398122/eee0ce90-937e-11e5-9625-330172033eb7.png">

The new function should check if LAT/L

[2015-11-25 13:24] skaman82 commented on #14
One more thing: tied to resize the custom map marker. But no luck so far. It should be approximately 20% - 30% smaller.
<img width="518" alt="bildschirmfoto 2015-11-25 um 14 22 08" src="https://cloud.githubusercontent.com/assets/11768024/11398333/3b0a4782-9380-11e5-8e25-367d705f82be.png">

[2015-11-25 21:56] NightHawk32 commented on #13
@skaman82 please give #51 a try.

[2015-11-25 22:28] skaman82 commented on #13
Thanks!

[2015-11-25 22:28] #13 closed

[2015-11-29 00:07] ProDrone commented on #45
@skaman82
I am working on this, starts looking good, but it's a fight and i learn a lot.

[2015-11-29 17:08] ProDrone commented on #45
@skaman82
__Update:__ I don't like the drop-down selector for AUX channels and the separation between flight channels and AUX channels. It is using less screen space the way it is now, but i prefer to have all channels listed like on the receiver tab.

It all works now apart from the flight channels. Still cleaning up to do and making the changes to generate a full channel list. I also moved field

[2015-11-29 17:47] skaman82 commented on #45
@ProDrone I also think it makes more sense to list all available channels. This way it is more accessible (fewer clicks). Can you list ONLY the channels that are available from the connected receiver? (If a user has a 6ch receiver it will only show 6 channels)

[2015-11-29 17:54] ProDrone commented on #45
Yes, that is what i want to make, channels that are not in use are a waste of space and confusing too.

[2015-11-30 00:31] ProDrone commented on #45
I completed the changes to the failsafe TAB. Merged your latest `new_stuff` branche to it, so that you are up to date to review it. The changes are in my repo at https://github.com/ProDrone/cleanflight-configurator/tree/FailsafeTab_ProDrone_mods

For testing the configurator changes you need cleanflight firmware at https://github.com/ProDrone/cleanflight/tree/add_msp_failsafe_support (needs modifi

[2015-11-30 00:34] ProDrone commented on #45
@skaman82
I completed the changes to the failsafe TAB. Merged your latest new_stuff branche to it, so that you are up to date to review it. The changes are in my repo at https://github.com/ProDrone/cleanflight-configurator/tree/FailsafeTab_ProDrone_mods

For testing the configurator changes you need cleanflight firmware at https://github.com/ProDrone/cleanflight/tree/add_msp_failsafe_support (need

[2015-11-30 07:37] skaman82 commented on #45
@ProDrone Great! I will have a look this evening. Could you provide a naze32 hex for testing?
I don't know if merging the new_stuff branch was a a such good Idea in its actual state. The work on the GPS Tab is still not finished in that branch. @NightHawk32 is looking into it.

[2015-11-30 07:56] ProDrone commented on #45
This is what it looks like:
![screenhunter_73](https://cloud.githubusercontent.com/assets/7206988/11461417/46f91fd8-9703-11e5-922c-26c1b954e265.jpg)
[cleanflight_NAZE.hex.pdf](https://github.com/skaman82/cleanflight-configurator/files/47046
/cleanflight_NAZE.hex.pdf)

Naze hex file above (remove the.pdf extension please).

The merging  was what i did to let you do a quick checkout from my fork for

[2015-12-01 02:37] skaman82 commented on #45
@ProDrone Tested this just now. Looking good! Great job with the tooltops - this helps a lot understanding the setup process. Three questions/suggestions:

1. There is still a failsafe box in the Config tab. I thought you wanted to remove it and make failsafe always on? We have now two "failsafe throttle" inputs in different tabs.

2. What is the difference between the flight channel settings "aut

[2015-12-01 09:58] ProDrone commented on #45
@skaman82 Thanks!
I consider it under construction until satisfied ;-) I am thinking of adding an indication what the AUX channels are assigned to. But  should it then replace the AUX n labels or put next to it? For consistency it should then also be on the receiver tab. What do you think?

1. The failsafe box and throttle setting on the config tab has to be conditionally hidden when the failsafe

[2015-12-01 10:31] skaman82 commented on #45
Showing what the AUX channels are assigned to is a very great idea. I will think about how this could look like. Regarding 3. I don't think the unsupported fields shoud be grained, the should be not visible at all.

[2015-12-01 16:43] ProDrone commented on #45
Up to now my changes are based on your branch `failsafeTab`, should i continue to build on top of that, and will you merge later? I will drop my current branch which is merged with you new stuff then, oke?

[2015-12-01 16:47] skaman82 commented on #45
yes, I think that would be better for now.
We want to make a PR against the orig/dev version from the new_stuff branch in the next days.

[2015-12-01 22:37] NightHawk32 commented on #14
Please give #53 a try, and test if erverything works as espected.

[2015-12-02 00:08] ProDrone commented on #45
I made some local mods. Still work in progress.

__These AUX channel mode assignments__
![screenhunter_74](https://cloud.githubusercontent.com/assets/7206988/11518281/481d09a4-9890-11e5-8055-b603814eaba5.jpg)

__Are now shown like this on the failsafe TAB__
![screenhunter_75](https://cloud.githubusercontent.com/assets/7206988/11518339/a2d127e0-9890-11e5-8de8-06d57ce2711a.jpg)

What do you think?

[2015-12-02 00:13] ProDrone commented on #45
If you want to play with it, it is here: https://github.com/ProDrone/cleanflight-configurator/tree/failsafeTAB_ProDrone_v2

[2015-12-02 00:15] skaman82 commented on #45
It is starting to look very good! But you can have multiple modes on one aux switch like buzzer+althold+poshold. Here is not enough room for that and I would move the select fields at the last half of the box (Aux+Modes 60%; Select:25%; Input 15%). Also the modes could be styled differently than the chanel label. I will play with it a bit :)

[2015-12-02 01:29] skaman82 opened #54 "Custom Mixer interface in the Config Tab"
Something that works like this: http://www.iforce2d.net/mixercalc/

[2015-12-02 02:35] skaman82 commented on #14
<img width="504" alt="bildschirmfoto 2015-12-02 um 02 01 32" src="https://cloud.githubusercontent.com/assets/11768024/11520649/a5c684ee-98a5-11e5-9a24-b9b761f49e95.png">

Found a small bug: If I cut the internet connection, the waiting animation is not hidden.

[2015-12-02 21:34] skaman82 commented on #14
done this! thanks @NightHawk32

[2015-12-02 21:34] #14 closed

[2015-12-02 22:35] NightHawk32 commented on #54
Additional thoughts:
- drag and drop for the motors is not necessary
- instead: fields for the distances of the motors
- should be placed in the configuration tab --> mixer box
- new icon for custom mixer
- config file with mixers for popular frames

[2015-12-03 00:06] ProDrone commented on #45
Slightly changed, same link as above.

[2015-12-03 22:58] ProDrone commented on #45
__Update on current failsafe TAB__
![screenhunter_76](https://cloud.githubusercontent.com/assets/7206988/11576734/32e2ab22-9a19-11e5-8fb2-85fafb9efff5.jpg)

[cleanflight_NAZE.hex.pdf](https://github.com/skaman82/cleanflight-configurator/files/51450/cleanflight_NAZE.hex.pdf)
Naze hex file above (remove the.pdf extension please).

The code for the configurator is at the same link as above.

[2015-12-03 23:07] skaman82 commented on #45
@proDrone Playing with this right now. Could you please place each Mode Name in a separate span with a class "modename"?

Von meinem iPhone gesendet

[2015-12-03 23:14] ProDrone commented on #45
@skaman82 Do you mean this line?
https://github.com/ProDrone/cleanflight-configurator/blob/failsafeTAB_ProDrone_v2/tabs/failsafe.js#L115

And is that to style it in css, so that i maybe should remove all styling there?

[2015-12-03 23:38] skaman82 commented on #45
Yes I mean that line. At the moment all mode names are in this span. It would be better for styling if each name would be in a separate span.

Von meinem iPhone gesendet

[2015-12-04 00:02] ProDrone commented on #45
Do you mean that, when for instance 2 modes like ANGLE and BEEPER are assigned to AUX 2, that both modenames (ANGLE and BEEPER) need to be in their own span as opposed to being together in one span?

[2015-12-04 00:39] skaman82 commented on #45
exactly

[2015-12-04 00:41] ProDrone commented on #45
*Just* updated accordingly. :grinning:

[2015-12-04 02:02] skaman82 commented on #45
Made small changes and send you the files via email.
Note: if you want to use green color, please use the brand color from the logo (its #59aa29). My version looks like this now:

<img width="925" alt="bildschirmfoto 2015-12-04 um 02 48 08" src="https://cloud.githubusercontent.com/assets/11768024/11579998/7a45eeb0-9a33-11e5-85bc-a36c68564306.png">

[2015-12-04 03:17] skaman82 opened #57 "Set magnetic declination by selecting from a map."
see https://github.com/cleanflight/cleanflight-configurator/issues/188

[2015-12-04 03:29] skaman82 opened #58 "PID Tuning - Allow PIDs to be reset to firmware defaults"
see: https://github.com/cleanflight/cleanflight-configurator/issues/133

[2015-12-04 03:32] skaman82 commented on #40
@NightHawk32 here is the issue with more requests: https://github.com/cleanflight/cleanflight-configurator/issues/99

[2015-12-04 14:57] ProDrone commented on #45
The files received by email are now included.

I made a modification to the style of the mode names because i did not like the light green color, it does not stand out that much (low contrast). For consistency i also removed the semicolons from the channel names (there are no other tabs that use this).

I experimented with more black/white like colors, but then it start to look like an input field

[2015-12-04 15:09] skaman82 commented on #45
OK, I will test some other colors. Now it looks like a note :) I also see some font problem in the SVGs in your screenshot. I will fix that too. I would always show the failsafe tab and display the content depending on firmware compatibility.
It would be a bit complicated, don't you think?
if you have firmware A you make your changes in tab A
if you have firmware B the the settings are in tab B

I

[2015-12-04 15:37] ProDrone commented on #45
Hahaha, that is because i took the colors from the note. In the end it is both, a matter of taste and of clarity.

I see your point, but if you have firmware A, you are already used to where these settings are.
Then it does not change the current situation. It will only change when talking to newer firmware.

I like the idea of being consistent though, and that means putting it all on one new tab.

[2015-12-04 16:39] powdermnky007 commented on #45
Thanks for the link skaman82.  Reposting my ideas here.  Btw this looks amazing!!!!  hats off to you both!  I slightly modified this from my posting on the other page as some of the ideas are now unnecessary.

1 Please include a drop down box with different presets. If not a a dropdown box that automatically sets them for you, you could put the information within a 'recommended settings example' b

[2015-12-04 18:13] skaman82 commented on #45
@powdermnky007  regarding 1. I would say stage 2 setting (drop) does exactly what you want

[2015-12-04 19:11] skaman82 commented on #45
@ProDrone what about this? I think this looks good and is very readable.

``
.tab-failsafe .modename {
    background-color: #828885;
    border-radius: 3px;
    border: 1px solid #686c6a;
    color: #fff !important;
    font-weight:normal;
    font-family: 'open_sanssemibold', Arial;
    padding-left: 3px;
    padding-right:3px;
    margin-right:3px;
}
´´

[2015-12-04 19:24] skaman82 commented on #54
How many motors should we offer to configure? I would start with 4. If necessary someone can add more motors later. Editing more than four motors makes this just more complicated to implement. What do you think?

[2015-12-04 20:57] powdermnky007 commented on #45
regarding 1. I would say stage 2 setting (drop) does exactly what you want.

@skaman82    Perfect, thank you

[2015-12-05 13:46] skaman82 commented on #58
I think here we should add a new "Reset PIDs" button (left to the save button). Clicking on that resets the current PID Controller values to default.

[2015-12-05 13:58] skaman82 opened #59 "Remove the CLI and add a Parameter Browser instead"
This requires exposing all CLI parameters to MSP.

Here the concept (will be updated shortly)
![cf0_advanced](https://cloud.githubusercontent.com/assets/11768024/11608092/5de4f0b2-9b60-11e5-9ea3-a70a8c426265.jpg)

[2015-12-05 15:22] skaman82 commented on #54
here some first thoughts as a simple sketch:

<img width="645" alt="bildschirmfoto 2015-12-05 um 16 20 43" src="https://cloud.githubusercontent.com/assets/11768024/11608525/4c795640-9b6c-11e5-969b-5c9e61158722.png">

[2015-12-05 15:51] skaman82 commented on #57
possible source for data:  http://www.magnetic-declination.com

[2015-12-06 00:56] skaman82 commented on #45
@ProDrone this just occurred to me: Are you also making sure that all failsafe settings are going in to the backup file generated by GUI backup function?

[2015-12-06 09:30] NightHawk32 commented on #54
Yes, 4 motor should be the most common use case at the moment. We should get that working, more motors just make things too complicated for the beginning.
Your sktech looks awesome, great work!
This way it should me almost self-explaining how a custom mix is done, very nice.

[2015-12-06 09:31] NightHawk32 commented on #40
Thanks for the link, this is indeed very helpful.

[2015-12-06 14:31] skaman82 commented on #57
prepared the tab elements

<img width="513" alt="bildschirmfoto 2015-12-06 um 15 27 53" src="https://cloud.githubusercontent.com/assets/11768024/11613797/5b6c5c16-9c2e-11e5-9ceb-d42773eeef6e.png">
<img width="695" alt="bildschirmfoto 2015-12-06 um 15 27 57" src="https://cloud.githubusercontent.com/assets/11768024/11613802/6226d22a-9c2e-11e5-9a6b-daa4861eece0.png">

[2015-12-06 14:31] skaman82 commented on #54
prepared the tab elements

<img width="508" alt="bildschirmfoto 2015-12-06 um 15 27 22" src="https://cloud.githubusercontent.com/assets/11768024/11613805/736603da-9c2e-11e5-8230-332d496277dc.png">
<img width="669" alt="bildschirmfoto 2015-12-06 um 15 27 43" src="https://cloud.githubusercontent.com/assets/11768024/11613806/7543e050-9c2e-11e5-8edb-568324798089.png">

[2015-12-06 14:32] skaman82 commented on #39
prepared the tab elements

<img width="526" alt="bildschirmfoto 2015-12-06 um 15 32 07" src="https://cloud.githubusercontent.com/assets/11768024/11613808/899e1af2-9c2e-11e5-8bbb-46775bde30d0.png">

[2015-12-06 14:39] skaman82 commented on #54
The Button "Edit Custom Mixer" should only appear when Custom Mixer is selected in the drop down menu

[2015-12-07 01:58] skaman82 opened #61 "Add deadband and yaw_deadband settings"
I think the should go here in the Receiver Tab:
<img width="497" alt="bildschirmfoto 2015-12-07 um 02 56 22" src="https://cloud.githubusercontent.com/assets/11768024/11617380/456a8b1c-9c8e-11e5-853e-0313ddc386a3.png">

[2015-12-07 02:07] skaman82 commented on #61
just added this

<img width="529" alt="bildschirmfoto 2015-12-07 um 03 06 20" src="https://cloud.githubusercontent.com/assets/11768024/11617450/9aa6aec0-9c8f-11e5-9f70-f8f4dff63a57.png">

[2015-12-07 02:26] skaman82 commented on #61
decided to move the new fields from the right (they have nothing to do with the graph) and placed them above the channels
<img width="551" alt="bildschirmfoto 2015-12-07 um 03 24 34" src="https://cloud.githubusercontent.com/assets/11768024/11617655/494e97a6-9c92-11e5-9f3c-644880800c90.png">

[2015-12-07 02:50] skaman82 commented on #54
useful link: http://stephanwagner.me/jBox (close event for the save button)

[2015-12-08 09:12] skaman82 commented on #40
Done

[2015-12-08 09:12] #40 closed

[2015-12-08 10:16] skaman82 opened #62 "Add PID Filters to the PID Tab"
Fields:
acc_lpf_factor
gyro_lpf
gyro_cut_hz
pterm_cut_hz
dterm_cut_hz

[2015-12-08 11:14] skaman82 commented on #62
added placeholders

<img width="538" alt="bildschirmfoto 2015-12-08 um 12 13 41" src="https://cloud.githubusercontent.com/assets/11768024/11654341/2fbacba2-9da5-11e5-9c74-8c30bf8f4b61.png">

[2015-12-08 11:39] skaman82 commented on #62
@borisbstyle Could you please provide a small text for the Tooltips explaining how to configure _cut_hz Filter and what this does?

[2015-12-08 12:49] skaman82 commented on #62
restyled the right side of the tab completely. Can't get the Rates and TPA to save yet.

![bildschirmfoto 2015-12-08 um 13 48 25](https://cloud.githubusercontent.com/assets/11768024/11655999/69e2c64c-9db2-11e5-8737-c1a08c894db4.png)

[2015-12-08 14:23] skaman82 commented on #39
moving this to PR3 milestone. This basically adds new input fields like a bunch of other stuff we are making in PR3. This way we keep many things together that require a API bump.

[2015-12-08 16:16] ProDrone commented on #45
@skaman82 Thanks. I did not (yet?) think of that.

[2015-12-08 23:30] ProDrone commented on #45
@skaman82 I did some more work on the failsafe tab (changes pushed, so you may check it out).
Support for both, the old (like in current configuration tab) and the new style is in the failsafe tab.
This means that this may be removed from the configuration tab when new failsafe tab get in.

Still have to look at the changes in your pull-request.

[2015-12-09 00:06] skaman82 commented on #45
@ProDrone you can safely merge my pr - it is just some simple css stuff and removal of the old failsafe box (just hidden). Will try your new version later today.

[2015-12-09 01:28] skaman82 commented on #45
@ProDrone just tested this quick. Really great work with all the tooltips an explanations!

I noticed that I am unable to save Failsafe Throttle in the new tab  - it always jumps back to 1000. This only happens in the new style where this input is in stage2 settings - old style box works fine inside the failsafe tab.

I'm guessing you didn't include the settings into the backup functionality of th

[2015-12-09 13:36] ProDrone commented on #45
@skaman82
* Merged the development branch in.
* Corrected the save `failsafe_throttle` value error.
* Cherry picked your `Small Styling changes`.
* Changes pushed.

I did not modify the backup/restore yet, first try to focus on completing the failsafe tab.

[2015-12-09 13:55] skaman82 commented on #45
@ProDrone Looking good! Just tested. Which tasks are still open regarding the new tab?

[2015-12-09 14:04] ProDrone commented on #45
@skaman82
1. All message texts need to go into messages.json
2. TESTING :grinning:

I am quite happy with the current state...

[2015-12-09 14:05] skaman82 commented on #45
quick question about failsafe config. Trying configure failsafe for the first time. In my case if I turn my RX off, the throttle and AUX channel values are about 1060. If I turn RX on they go to 1000. How the system can detect a signal loss if the channel values are still valid? I want to configure a landing procedure but when I turn my RX off the motors just stop. Do I setup something wrong?

[2015-12-09 14:24] ProDrone commented on #45
The system can only detect the failsafe state by looking at the received values and in case of a serial receiver by checking a failsafe indicator flag (if that is supported by the particular receiver).

Your receiver should be configured to produce out of range values on failsafe when it is not a serial type with failsafe state flag. Some have an option to send no-pulses on failsafe.

I tried to c

[2015-12-09 14:34] skaman82 commented on #45
I am using different orange RX (R616XN, R615X, R620X) with DX6i. The only difference I have with 620X is the beeper goes off when quad is on and TX is off. Silence with others. Do you know how to configure the RX to send no pulses?

[2015-12-09 14:46] ProDrone commented on #45
I am not familiar with Spektrum but i think it does not have the no-pulses configuration option.

You receiver should be set so that all channels have a range from 1000-2000, with 1500 being the middle position.

What you can do after that is, using the trim function, move one of your flightchannels (throttle is good) as low as it can go. Then lock in this value as the failsafe value for your rece

[2015-12-09 14:46] powdermnky007 commented on #45
That is why I suggested earlier to have some instructions/guide for 'normal users'.  BTW you two have done a great job.

[2015-12-09 14:50] le3dmax commented on #45
@skaman82
You need to set the failsafe on your Orange receiver. Set the min throttle on your Radio below 1000 and rebind it. It tells the receiver to drop below 1000 when you lose the connection.
Once you did that you can back you radio to 1000 again.

[2015-12-09 14:56] skaman82 commented on #45
thank you all, this worked perfectly and yes, @powdermnky007 is right. This should be at least in the documentation .

[2015-12-09 15:03] powdermnky007 commented on #45
Yeah I watched someones brand new miniquad fly away, never to be seen again.  That prompted my friends and I to double check our failsafe settings.  They were all setup incorrectly.  Every time my friends build a new quad, they believe they have their failsafe set correctly, but it never is.  I always help them set it correctly.  Some of them say, "yeah... I don't understand all that 'computer stu

[2015-12-09 15:08] ProDrone commented on #45
@powdermnky007 It is still work in progress, but i adapted the manual here: https://github.com/ProDrone/cleanflight/blob/add_msp_failsafe_support/docs/Failsafe.md

And for the case you mentioned above i did this today: https://github.com/ProDrone/cleanflight/blob/f79bdc94bb9928ef38a31187ab90c7d17e29f8c8/src/main/rx/rx.c#L404-L407

:grinning:

[2015-12-09 15:26] skaman82 commented on #45
Just tested all the Failsafe Tabs settings with R616XN and 620X. Works wonderful :)

[2015-12-09 15:38] powdermnky007 commented on #45
@ProDrone just read manual and it looked great and very thorough.  I like how the very 1st step in configuration is to set receiver to no pulses... good placement :)  if that is overlooked all can be lost!

As far as the code, I don't fully understand it, but it half was makes sense to me.  But I don't need to understand it... heh I trust you :)  good job.

That is the first time i've seen the 'fa

[2015-12-09 15:45] skaman82 commented on #45
The variable failsafe_procedure can be used for other things in the future like RTH or just the RTH landing procedure when they integrated - see digitalentitys iNAV (@ProDrone correct me if I am wrong)

[2015-12-09 16:00] skaman82 commented on #45
@ProDrone you should also include the situation a was in about a hour ago in your manual to help with exactly the same problem. Something like this:

"If you have a RX that is not configured to send no pulses on signal loss you can configure failsafe by doing following steps:
1. Adjust you throttle channel with trims to a minimum possible value (throttle should go way below 1000)
2. Bind with your

[2015-12-09 16:28] ProDrone commented on #45
@powdermnky007
Setting to no pulses does not apply to many RX's. There are so many different setups out there to cover. It is important to make it clear that a receiver _somehow_ needs to inform the flight-controller about it's state.

The code change will make the quad __not__ fly away when stage 2 is disabled. As it currently is people can set it wrong and then...well what you witnessed. I like

[2015-12-09 16:56] skaman82 commented on #45
@ProDrone Just checked the manuals. There is a lot of information how to adjust values in the bind process that are activated on failsafe. Orange RX come without a manual or just 1 copied page.
The CRITICAL "TRICK" with the TRIMS to send a invalid pulse is nowhere to be found. It might sound logical now but that didn't occurred to me before. The Failsafe manual ist the place where I would personal

[2015-12-09 18:33] ProDrone commented on #45
@skaman82 I agree that starting to read the failsafe manual is logical, but from there you may be directed to the receiver documentation (rx.md) and from there to the manuals for specific equipment.

Strictly speaking correct, but on the other hand: it would not hurt to have step by step setup guides for popular setups too.

I looked into the mods you made to configuration.css / .htm / .js but don

[2015-12-09 18:44] skaman82 commented on #45
@ProDrone I have hidden the old box just to make the css adjustments to align the other boxes after the failsafe box would be deleted (just to simulate it to make proper stylig). I thought you will just delete the box afterwards. I gladly can remove it completely in HTML but I have no idea what to remove in the JS file.

Also I can help you placing the Text in the json file if you want to.

[2015-12-09 18:53] ProDrone commented on #45
@skaman82
Thanks, all texts are already done. Works good.
Just attempted the remove the failsafe part from configuration tab, but that is wrong now...

[2015-12-09 18:59] ProDrone commented on #45
@skaman82 I think everything is in place now. Can you please review it?

[2015-12-09 19:00] skaman82 commented on #45
@prodrone still at work :(, will do later in the evening and give you a feedback

[2015-12-09 19:34] ProDrone commented on #45
This is my cleanfligh test-firmware version (.pdf appended for GitHub acceptance):
[cleanflight_NAZE.hex.pdf](https://github.com/skaman82/cleanflight-configurator/files/57254/cleanflight_NAZE.hex.pdf)

Not a big difference with the previous (added forcing auto-mode to flight-channels when stage 2 is disabled).

[2015-12-09 19:55] ProDrone commented on #45
@skaman82 I have to admit that i never looked at the backup/restore buttons in the setup tab.
I think a backup utility that warns you that it will make an incomplete image is useless.
To be sure that ALL is conserved i always used the CLI dump command.

I cannot imagine that 'normal users' feel confident with this. How are they suppose to know if that precious setting is a CLI setting? __*All*__ s

[2015-12-09 20:00] skaman82 commented on #45
@ProDrone NightHawk32 and I want to change things regarding that. Using cli for backup is just wrong. We will try to make the backup function save all settings completely but this is serious heavy work. If you can include your failsafe settings now it would be a tiny bit less to do for us.

[2015-12-09 20:04] ProDrone commented on #45
Oké, i understand. I will have a look...

[2015-12-09 20:08] skaman82 commented on #45
Thanks! This issue tracker is our ToDo list for things we want to improve. If you can/want help out with something of that youre welcome :)

https://github.com/skaman82/cleanflight-configurator/issues

[2015-12-09 22:07] NightHawk32 commented on #61
We should think about a proper way to hide the Yaw Deadband and Deadband input fields. This is necesarry for API levels which don't support the MSP command to get the data.

[2015-12-09 22:26] skaman82 commented on #61
you are right, didn’t thought of that. Will place the fields somewhere else (easier to hide)

[2015-12-09 22:39] skaman82 commented on #61
done

[2015-12-10 00:05] NightHawk32 commented on #61
Thanks for the quick fix, this made the whole thing much easier.

[2015-12-10 00:27] skaman82 commented on #61
done, we can close this

[2015-12-10 00:27] #61 closed

[2015-12-10 11:49] ProDrone commented on #45
@skaman82 The failsafe tab variables are now added to Backup & Restore.
I did put a note on line 520 of file `backup_restore.js` as a reminder (and for feedback).

[2015-12-10 12:00] skaman82 commented on #39
just added a tooltip
<img width="662" alt="bildschirmfoto 2015-12-10 um 12 59 30" src="https://cloud.githubusercontent.com/assets/11768024/11714913/eb47f914-9f3d-11e5-977d-fcfc12f80443.png">

[2015-12-10 12:19] skaman82 commented on #45
@ProDrone thanks, just tested the backup function. Works like a charm! :) Thank you

[2015-12-10 12:35] skaman82 commented on #45
Tested the Failsafe functionality again, no problems.

[2015-12-10 12:40] ProDrone commented on #45
What do you think about the point i mentioned on line 520 of file `backup_restore.js` ?

[2015-12-10 13:08] skaman82 commented on #45
@NightHawk32 could you please answer ProDrones question? I believe you added this.

[2015-12-10 20:25] NightHawk32 commented on #45
Dominic did this, but I see your point @ProDrone there we only add redundant data which is already in the firmware. I will have a look at that and kick out this part and do a reset instead, as you suggested.

[2015-12-10 21:54] ProDrone commented on #45
@NightHawk32
__Thanks !__
I already did this to test it out. My knowledge of JS is limited and i am still figuring things out. What i see is that, when restoring an older (api) backup, the newer additions to the configuration are becoming undefined, like when in this function:
[code]
The undefined `configuration.RX_CONFIG` is assigned to the newer configuration object `RX_CONFIG`, so it becomes al

[2015-12-11 00:11] ProDrone commented on #45
@NightHawk32 @skaman82
I decided to go with the flow and made my modifications in line with the existing code.
(previous comment deleted for clarity). Now it all works as intended, also when restoring older backups.

Beware, i did a forced push (rewriting history), so checkout a fresh copy, here:
https://github.com/ProDrone/cleanflight-configurator/tree/failsafeTAB_ProDrone_v2

[2015-12-11 16:07] ProDrone commented on #45
@skaman82 Updated again: stage 2 elements reorganized. When stage 2 is disabled they are all hidden. Moved the settings relevant for landing inside the land-pane as a visual clue. These field are only enabled when land procedure is selected. Adapted help-texts and some more...

What do you think?

[2015-12-11 16:08] ProDrone commented on #45
Looks like this now:
![screenhunter_78](https://cloud.githubusercontent.com/assets/7206988/11748687/bb442796-a029-11e5-9683-2d037dbf047c.jpg)

[2015-12-11 17:00] skaman82 commented on #45
@ProDrone Great Idea. This makes a lot of sense to rearrange the fields this way.

[2015-12-11 23:34] ProDrone commented on #45
@skaman82 The GUI side is almost done. However, before making a pull-request, the required changes to cleanflight need to be merged first, because without these changes this will not work.

I have more plans to make this even better, but think this should be merged first, as there currently is no good configuration method. I hope @hydra can find the time to take a look at this, since there are thi

[2015-12-12 20:05] NightHawk32 opened #65 "BUG: Restoring from old Versions can cause MSP exception"
This Problem is located in js/backup_restore.js
Lets assume you have a configuration file from an old version which doesn't support the MSP command for 3D. Of course the parameters are not included in your old config file.
Now the config file is read and the single objects are parsed and assigned to the corresponding objects in data_storage.js. Since 3D is not included in the config file trying to

[2015-12-12 20:29] skaman82 opened #66 "Bug: LED configuration isn't being restored from backup"

[2015-12-12 20:29] skaman82 opened #67 "New LED function - Show GPS 3D fix status"

[2015-12-12 20:48] skaman82 commented on #66
thanks @NightHawk32 !

[2015-12-12 20:48] #66 closed

[2015-12-12 20:50] skaman82 commented on #62
@borisbstyle Some feedback on my question regarding the tooltips?

[2015-12-12 20:53] NightHawk32 opened #69 "Optimization: removing redundant defaults"
At the moment some default values are stored in the firmware and also in the configurator. This should be avoided since it makes code maintenance needlessly complicated.
This is in the js/backup_restore.js:

if (configuration._3D == undefined) {
                configuration._3D = {
                    deadband3d_low:         1406,
                    deadband3d_high:        1514,

[2015-12-12 22:49] skaman82 commented on #62
Removing this for now. This makes the interface more complicated as it should be.

[2015-12-12 22:49] #62 closed

[2015-12-12 23:16] skaman82 commented on #39
CW0_DEG=1, CW90_DEG=2, CW180_DEG=3, CW270_DEG=4, CW0_DEG_FLIP=5, CW90_DEG_FLIP=6, CW180_DEG_FLIP=7, CW270_DEG_FLIP=8. This should cover all orientations.

[2015-12-12 23:36] borisbstyle commented on #62
i agree. Filtering will be changed in the future anyway
Op 12 dec. 2015 23:49 schreef "Albert Kravcov" <notifications@github.com>:

[2015-12-13 00:33] skaman82 commented on #58
done

[2015-12-13 00:33] #58 closed

[2015-12-13 00:34] skaman82 commented on #39
Hmmmm. set align_mag = 3 don't work anymore. Nothing in the docs :( @digitalentity do you now how this works now?

[2015-12-13 00:36] digitalentity commented on #39
Now it's `set align_mag = CW180_DEG`

[2015-12-13 00:37] skaman82 commented on #39
thanks! and when it is upsidedown?

[2015-12-13 00:38] digitalentity commented on #39
CW180_DEG_FLIP, was 7 on older firmwares

[2015-12-13 00:39] digitalentity commented on #39
You already covered all options here: https://github.com/skaman82/cleanflight-configurator/issues/39#issuecomment-164201243

[2015-12-13 00:39] skaman82 commented on #39
ok, thanks

[2015-12-13 17:41] ProDrone commented on #45
@skaman82 So i wrapped it up and made a pull request for both, cleanflight and configurator. Hoping it will soon be merged to fill the need to configure failsafe via GUI.

[2015-12-13 18:09] skaman82 commented on #45
Great news, we are about to finish our next set of improvements for the configurator. The changes we made also require a api bump.

Von meinem iPhone gesendet

[2015-12-13 18:29] ProDrone commented on #45
@skaman82 Do you mean that there also is (or will be) a pull-request in cleanflight that is required for the for your work?

[2015-12-13 18:56] skaman82 commented on #45
Yes, there will be a PR shortly

Von meinem iPhone gesendet

[2015-12-14 09:17] #45 closed

[2015-12-14 09:19] skaman82 commented on #45
Done. Closing this. Thanks @ProDrone - this was fun! Would like to work with you again on other things.

[2015-12-15 17:48] skaman82 opened #72 "Backup function is broken in the current DEV version since the merge of last commits."

[2015-12-15 21:55] skaman82 commented on #39
Thanks @NightHawk32

[2015-12-15 21:55] #39 closed

[2015-12-23 19:52] NightHawk32 opened #77 "Bind button for Spektrum Sat"
Place a button in the receiver tab which is enabled if serial RX is activated.
A drop down menu lists the options for binding (DSMX 11/22 DSM2 11/22).
The cli command for binding is:
set spektrum_sat_bind = X
3 for DSM2 1024/22ms
5 for DSM2 2048/11ms
7 for DSMX 22ms
9 for DSMX 11ms

The button should work the way the cli command does. After pressing the button a message appears which tells the use

[2015-12-27 21:14] NightHawk32 opened #78 "Show all PIDs should be remebered"
The additional PIDs which can be made visible via "Show all PIDs" are hidden again when "Refresh" is pressed. The state of showing all PIDs should therefore be stored somehow.

[2015-12-27 22:07] skaman82 commented on #78
A good one. If you have a solution that works better, give me a PR.

[2016-01-03 23:33] skaman82 opened #82 "iNav Config options"
@digitalentity
Did some modifications to configurator for you to play with, if you like.
Just the most necessary config. Looks like this:

<img width="1044" alt="bildschirmfoto 2016-01-03 um 23 10 24" src="https://cloud.githubusercontent.com/assets/11768024/12081484/b55c532c-b27a-11e5-8ada-58b48ef7b8f6.png">
<img width="513" alt="bildschirmfoto 2016-01-03 um 22 05 53" src="https://cloud.githubuser

[2016-01-03 23:37] skaman82 commented on #82
This is the branch I worked in: https://github.com/skaman82/cleanflight-configurator/tree/inav

[2016-01-03 23:40] digitalentity commented on #82
Great, thanks! I'll give it a try when I have some time!

[2016-01-04 02:24] skaman82 commented on #82
@digitalentity Edited the first post to clarify some things.

[2016-01-07 00:04] #72 closed

[2016-01-07 00:46] Rob2160 commented on #54
The interface looks good - consider also showing the CoT (optimum CG) position as a distance from front motors. (always mid point between front and rear motors in a quad - my mixer assumes this.)

However the location will vary for non symmetrical Hexacopters and V-Tails (Based on the V angle)

examples attached - CoT is automatically calculated for Hex and V-tails in the spreadsheet.

![screen sh

[2016-01-07 11:21] skaman82 commented on #59
Starts to look very good. @NightHawk32  How do we get the default values to show up?

![bildschirmfoto 2016-01-07 um 12 21 19](https://cloud.githubusercontent.com/assets/11768024/12169509/31d8eabc-b539-11e5-9c37-85d9938252bf.png)

[2016-01-07 11:24] skaman82 commented on #78
Can we do this together with the "Reset PIDs" button fix?

[2016-01-07 22:23] NightHawk32 commented on #59
At the moment the default aren't provided by the firmware, the only thing that could be done is storing them in the configurator, together with the description and name of a parameter.
The parameters are identified via group and param id, which is unique for each parameter.

I also had an idea about the number of used values, this can be determined for the data type of the parameter. So the inform

[2016-01-07 22:23] NightHawk32 commented on #78
Yes that would make sense.

[2016-01-08 18:43] hydra commented on #59
Yes, the serial_cli.c contains a large array which can be extracted for other purposes.  One of the problems that needs solving is the 'default value' problem.  OSD's and GUI's would all benefit from being able to know the default value and reset a parameter to it.

[2016-01-08 19:06] skaman82 commented on #59
@NightHawk32 See https://github.com/cleanflight/cleanflight/pull/1049 This might be useful

[2016-01-08 23:03] NightHawk32 commented on #59
@hydra please also have a look at the current concept of digitalentity over here: https://github.com/digitalentity/cleanflight/tree/msp-parameter-protocoll. I did some small changes on that in my fork and used that for testing.
@skaman82 thanks, will have a look at that.

[2016-01-09 03:14] digitalentity commented on #59
@NightHawk32, @hydra we can probably do both parameter group upgrade and my parameter protocol.
The disadvantage of parameter group is that configurator has to be aware how to handle the group itself.
This is solved by parameter protocol approach that enables the configurator to access individual parameter of some generic data type.
We can extend the PG concept with list of individual parameters w

[2016-02-08 16:01] wanderzell commented on #59
Hi guys, glad to see there have been some progress in the "parameter browser" development. The needed functionality for all of us who use CLI to tweak the system.

When I saw the initial sketches of the parameter sheet my first thought was - omg someone has been using the APM Planner too much. I seems bit too heavy with all this grouping and stuff, yet it lacks the most basic functions like:
- eas

[2016-02-08 18:15] hydra commented on #59
ok @wanderzell looks nice.  first though, we need to finish cleanflight/cleanflight#1049 before we can do the js FC communication side of things since we need to finalize the firmware side of things first. i think.

unless you can think of a way where we can do them both in parallel?

[2016-02-08 18:27] skaman82 commented on #59
@wanderzell This looks nice, I like It even more than mine first sketch  – I never used APM in my life though :) The only thing I don't like so much is the export/import function. There is already a Backup and Restore button in the Setup tab. Those buttons should cover the whole system config, so there is no need to put it in the parameter browser.

[2016-02-08 18:28] skaman82 commented on #59
Also putting parameters in groups can make findings things much more faster :)

[2016-02-08 18:31] skaman82 commented on #59
Some parameters have more than one variable (like mixer settings) You might want to figure this one out.

[2016-02-08 22:58] wanderzell commented on #59
@hydra  I think we can start work on the UI already. Just real binding between the screen and FC can be added once the parameter group thing is there.

@skaman82 I agree Import / Export would not be there in first run and it is probably better to keep this discussion separate from the parameters thing.

The idea behind these buttons is more elaborate than just plain dump import, however. Was think

[2016-03-15 01:26] skaman82 commented on #67
@NightHawk32 Do you have some time to look into this one in the next weeks? Perhaps it would also be great to add a beacon function (white flashing light) to use as position lights on a plane or multirotor?

[2016-03-16 13:40] digitalentity commented on #67
@skaman82 I like your suggestion:

But why discussing LEDs in Configurator issue? :)

[2016-03-16 13:44] skaman82 commented on #67
@digitalentity This issue tracker is not configurator only. Its a issue/wish list from me and nighthawk32 regarding new things to do :) It is easier to keep it in one place. BTW: Enhanced LED functionality needs some changes in the GUI too.

[2016-03-16 13:46] digitalentity commented on #67
Ah, yes, forgot about the configuring the LEDs. BTW, current Cleanflight doesn't distinguish between 2D and 3D fix, only iNav will have that in release 1.2 (or maybe in 1.1.2 as well)

[2016-03-18 12:22] digitalentity commented on #82
@skaman82
Wanted to let you know that I'm going to fork cleanflight configurator into inav-configurator to get better support for features evolving in inav branch.

[2016-03-18 12:24] skaman82 commented on #82
Good to know, thanks

[2016-03-18 12:25] digitalentity commented on #82
@skaman82 btw, you are always welcome in #inavflight channel on IRC

[2016-04-20 21:34] skaman82 commented on #67
@gaelj you've done some work on LED functionality in the past days.
Could you please add some more LED functions if you have time?

For example:
• 3Dfix status (see comments above)
• Beacon (the LED flashes in selected color - helpful for position lights)
Both features should be added to LED Tab as well.

[2016-04-20 22:31] gaelj commented on #67
I'll look into it, I'll be unavailable next week though.

[2016-05-09 11:41] Arise commented on #57
From this page:
http://www.geosats.com/magdecli.html

[code]

And the JS:
http://www.geosats.com/js/WorldMagneticModel.js

Usage is
`var wmm = new WorldMagneticModel();`

then var
`dec = wmm.declination(0.0, 59.0, -2.0, 2015.5); `

[2016-05-09 11:43] digitalentity commented on #67
@skaman82
I've done some rework to GPS tab here https://github.com/iNavFlight/inav-configurator
It relies on an INAV-specific MSP message though.

[2016-05-09 22:43] skaman82 commented on #82
@digitalentity just startet your version of the configurator for the first time. I see you have gone a bit haywire on the color scheme ;) I'll give a try to reach you on irc now

[2016-05-12 00:24] #67 closed

[2016-05-12 23:57] gaelj commented on #59
Any progress ?

[2016-05-13 00:03] skaman82 commented on #59
@gaelj  Sadly, no one is working on this at the moment - as far I know. I made a interface suggestion for this and there is initial work done by @NightHawk32. @wanderzell had a better UI suggestion, but I doubt that he has made some further progress on this.

If you want, you can try to get this done. It would be AWSOME

Some useful sources:
https://github.com/NightHawk32/cleanflight/tree/msp-para

[2016-05-13 00:07] skaman82 commented on #59
@gaelj since you found my CF issue tracker - or more a "things that would be nice to have in CF" take a look around, maybe you can crack a thing or two. :)

[2016-05-13 07:16] wanderzell commented on #59
Actually I have done some work on this already. The UI and CSS is there, also the interaction related JS. But yeah, it has been standing in this state for few months now. I will try to pull myself together and merge the stuff to latest development in coming days.

[2016-05-13 16:31] gaelj commented on #59
Ok ! Let me know if I can be of any assistance.

[2016-05-25 16:52] skaman82 commented on #59
@wanderzell some updates?

[2016-05-26 14:03] wanderzell commented on #59
Yes there have been progress. Just give me more few more days to wrap up the initial UI implementation.

[2016-05-30 19:14] cadriel commented on #43
I assume this would also handle import functionality? Would it be better to perhaps name this something like `Configuration Import / Export`?

For import purposes - should we consider the ability to compare the import to current values? This might be especially useful for importing settings for newer versions to determine new parameters and the like.

Finally - where would the stored backups be pl

[2016-05-30 20:34] DaleKramer commented on #59
Are you handling different profiles and rateprofiles?  I think Boris is down to 2 profiles and 3 rate profiles.

[2016-05-31 13:06] wanderzell commented on #59
@DaleKramer : haven’t thought about profiles. But regarding rateprofiles I have two solutions in my mind:

1) in first run I’d simply show rateprofile related params based on currently selected rateprofile. so user must make sure the correct rateprofile is selected when making adjustments. I’d just add small visual notation to differentiate the parameter scope (global vs. profile)

2) in longer ru

[2016-05-31 13:09] skaman82 commented on #59
@wanderzell Agree on 1 and 2

[2016-05-31 18:03] DaleKramer commented on #59
Good idea on showing all 3 rateprofiles at once.  Nice if you could do the same with profiles.
Also I don't see anything about how to deal with parameters that have multiple values.
I think these changes should deal with all possibilities of handling CLI dumps from all forks and even then there are a lot of reasons for still letting CLI live in some form.

[2016-05-31 21:06] wanderzell commented on #59
@DaleKramer : yep, personally I don’t have anything against CLI or the idea of keeping it. I use it and I know many people use it. Not because we like it that much, there is just no alternative.

Parameter Browser is an attempt to provide a solid, cross-firmware compatible alternative for many things that CLI is better not used - retrieving and setting simple parameter values, for example. If it w

[2016-05-31 21:17] DaleKramer commented on #59
Great, I'm all for making things easier, stages or not :)